:root {
  --c1: #fb6f92;
  --c2: #ff8fab;
  --c3: #ffb3c6;
  --c4: #ffc2d1;
  --c5: #ffe5ec;
  --c6: #b63354;
  --c7: #f93d6c;
  --primaryFont: 'Satoshi', sans-serif;
  --headingFont: 'Cabinet Grotesk', sans-serif;
}